/* Ajoutez ce contenu dans src/components/Counter.css */
.counter-container {
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  border-radius: 8px;
  border: 2px solid #ece6e6be;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(8px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

/* Pour les textes à l'intérieur */
.counter-container p {
  margin: 0;
  color: rgba(0, 0, 0, 0.8);
  font-size: 18px;
}

.reset-button {
  width: 40px;
  padding: 4px 0;
  background-color: rgba(67, 99, 212, 0.926);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.reset-icon {
  width: 16px;
  height: 16px;
  cursor: pointer;
  margin-top: 5px;
}
